@import "../../../styles.scss";

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    & > h1 {
      font-size: 36px;
      line-height: 4.2rem;
      color: $color-white;
      font-weight: bold;
      margin-left: 6rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    &__achievements {
      width: 180rem;
      height: 80rem;
      margin-left: 5rem;
      background: $background-color-post;
      border-radius: 28px;
      display: flex;
      flex-direction: column;

      &__select {
        width: 30%;
        float: left;
        margin: 2rem;
        margin-left: 51rem;
        font-size: 13px;
      }

      &__refresh-btn {
        height: 3.3rem;
        width: 18rem;
        font-size: 13px;
        float: right;
        margin: 2rem;
        margin-right: 51rem;
        border-radius: 5px;
      }

      &__list {
        list-style: none;
        width: 30%;
        margin-left: auto;
        margin-right: auto;

        &__header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          color: $color-white;
          font-size: 20px;
          margin-left: 2rem;
          margin-right: 2rem;
          margin-bottom: 1rem;
        }

        & > hr {
          background-color: $color-white;
          margin: auto;
          width: 98%;
          height: 0.1rem;
        }

        &__li {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          height: 65rem;

          overflow-y: scroll;
          -ms-overflow-style: none;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none;
          }

          &__item {
            width: 100%;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
  
