@import "../../../../styles.scss";

.achievement-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-left: 2rem;
    margin-right: 2rem;

    &__icon {
    width: 6.3rem;
    height: 6rem;
    border-radius: 50%;
    }

    & > p {
    font-size: 20px;
    color: $color-white;
    }
}