@import "../../../styles.scss";
@import "../../../scss/typography.scss";
@import "../../../scss/base.scss";


.newsfeed {
  display: flex;
  align-items: center;
  flex-direction: column;
  &__header {
    background-color: $color-header;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__profile {
      height: 5rem;
      margin-left: 4rem;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      align-items: center;

      img {
        height: 100%;
        object-fit: contain;
        vertical-align: middle;
      }

      &__username {
        font-size: medium;
        margin-left: 1rem;
      }
    }

    &__logout_button {
      margin-right: 4rem;
      padding: 0.5rem 1.5rem;
      background: linear-gradient(to right, $color-newsfeed-background 20%, $color-button-top-gradient);
      border-radius: 5px;
      border: none;
      font-size: medium;
    }

    &__logout_button:hover{
      background: $color-newsfeed-button-hover;
    }
  }

  &__body {
    width: 100%;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;

    .side-card {
      margin: 3rem 4rem;
      padding: 1rem 0;
      height: 80rem;
      width: 27rem;
      position: relative;
      z-index: 1;

      &::before{
        content: "";
       position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to right, $background-color-post, $color-card-gradient-grey);
        border-radius: 25px;
        opacity: .5;
      }
    }

    &__categories {
      
      .active {
        background-color: $color-list-element-hover;
        padding-left: 4.5rem;
      }

      &__title {
        margin-top: 1rem;
        padding-left: 1.5rem;
      }

      &__list {
        list-style-type: none;
        padding-top: 0.5rem;
        font-size: large;

        & > li {
          margin-top: .3rem;
          padding-left: 3rem;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
        }

        & > li:hover {
          background-color: $color-list-element-hover;
          padding-left: 4.5rem;
          transition: all 0.2s ease-in-out;
        }
      }
    }

    &__friends {
      margin: 2rem;

      &__title {
        margin-top: 1rem;
        padding-left: 1.5rem;;
      }

      &__list {
        list-style-type: none;
        padding-top: 0.5rem;
        font-size: large;

        & > li {
          margin-top: .3rem;
          padding-left: 3rem;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
        }

        & > li:hover {
          background-color: $color-list-element-hover;
          transition: all 0.2s ease-in-out;
        }
      }
    }

    &__middle {
      margin-top: 3rem;
      width: 50%;

      &__sections {
        display: flex;
        height: 5rem;
        flex-direction: row;
        justify-content: space-between;

        & > button {
          background-color: $color-newsfeed-buttons;
          width: 20rem;
          height: 100%;
          background-repeat: no-repeat;
          background-size: 5rem;
          border: 0;
          border-radius: 5px;
        }

        &__image {
          & > img {
            height: 3rem;
          }
        }

        &__video {
          & > img {
            height: 3rem;
          }
        }

        &__text {
          font-size: large;
          font-weight: bold;
        }
      }

      &__posts {
        margin-top: 2rem;
        height: 80vh;
        width: 100%;
        overflow-y: scroll;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}