<div class="newsfeed">
  <div class="newsfeed__header">
    <div class="newsfeed__header__profile">
      <img (click)="openProfile()" [src]="user.avatarPath" alt="profile pic">
      <p class="newsfeed__header__profile__username paragraph">{{user.username}}</p>
    </div>
    <ng-select class="newsfeed__header__search-select" [editableSearchTerm]="true" [items]="possibleUsers" bindLabel="username"
    bindValue="id" (search)="onSearch($event)" (change)="onChange($event)" placeholder="Search user">
    <ng-template  ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
      <div class="newsfeed__header__search-select__item">
        <div class="newsfeed__header__search-select__item__details">
          <img class="newsfeed__header__search-select__item__img" [src]="item.avatarPath" alt="User profile pic">
          <h4 class="newsfeed__header__search-select__item__username">{{item.username}}</h4>
        </div>
        <a class="btn" *ngIf="checkValidFriendRequest(item.id)" (click)="sendFriendRequest(item.id)">Add friend</a>
        <a class="btn" *ngIf="!checkValidFriendRequest(item.id)" (click)="deleteFriend(item.id)">Remove friend</a>
      </div>
    </ng-template>
    </ng-select>
    <div class="wrapper">
      <div class="newsfeed__header__friend-requests">
        <p class="newsfeed__header__friend-requests__number" *ngIf="numberOfRequests > 0">{{numberOfRequests}}</p>
        <svg class="newsfeed__header__friend-requests__icon" (click)="openVideoPostModal(friendRequestsModal)">
          <use xlink:href="../../../assets/logos/sprite.svg#friends"></use>
        </svg>
      </div>

      <button class="newsfeed__header__logout_button paragraph" (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="newsfeed__body">
    <div class="newsfeed__body__categories side-card">
      <h1 class="paragraph newsfeed__body__categories__title">Games </h1>
      <ul class="paragraph newsfeed__body__categories__list">
        <li *ngFor="let game of games" (click)="getPostsForGame(game.id)" id="game{{game.id}}">{{game.name}}</li>
      </ul>

      <!-- <h1 class="paragraph newsfeed__body__categories__title">Publisher</h1>
      <ul class="paragraph newsfeed__body__categories__list">
        <li *ngFor="let publisher of publishers" (click)="getPostsForPublisher(publisher.id)"
        id="publisher{{publisher.id}}">{{publisher.name}}</li>
      </ul> -->
    </div>

    <div class="newsfeed__body__middle">
      <div class="newsfeed__body__middle__sections">
        <button class="newsfeed__body__middle__sections__text"
          (click)="openModalCreatePost(createPostModal)">Aa</button>
        <button class="newsfeed__body__middle__sections__image"
          (click)="openPhotoPostModal(createPostModalWithContent)">
          <img src="../../../assets/Images/image.png" alt="image"></button>
        <button class="newsfeed__body__middle__sections__video"
          (click)="openVideoPostModal(createPostModalWithContent)">
          <img src="../../../assets/Images/video.png" alt="video"></button>
      </div>
      <div class="newsfeed__body__middle__posts">
        <app-post *ngFor="let post of this.posts" [post]="post" (event)="newPost($event)"></app-post>
      </div>
    </div>

    <div class="newsfeed__body__friends side-card">
      <h1 class="paragraph newsfeed__body__friends__title">Friends</h1>
      <ul class="paragraph newsfeed__body__friends__list">
        <li *ngFor="let friend of friends" (click)="gotToFriendProfile(friend.id)"><app-friend [friend]="friend"></app-friend></li>
      </ul>
    </div>
  </div>
</div>

<ng-template #createPostModal>
  <create-post-modal [games]="games" [userId]="user.id" [userName]="user.username" (close)="closeModal($event)">
  </create-post-modal>
</ng-template>

<ng-template #createPostModalWithContent>
  <create-post-modal [games]="games" [userId]="user.id" [withContent]="true" [userName]="user.username"
    (close)="closeModal($event)"></create-post-modal>
</ng-template>

<ng-template #friendRequestsModal>
  <app-friend-requests [userId]="user.id" (close)="closeFriendRequests($event)"></app-friend-requests>
</ng-template>
