@import "../../../styles.scss";

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 70rem;
    border-radius: 2.5rem;
    background-color: $color-form-card;
    &__form {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        & > * {
            margin: 0.5rem;
            color:white;
        }
        
        &__title {
            margin-top: 50%;
            font-weight: 500;
            font-size: 3.5rem;
            padding-bottom: 7.5rem;
        }

        &__submit-btn {
            background-image: linear-gradient(to right, $color-button-top-gradient, $color-button-bottom-gradient);
            width: 16rem;
            height: 5rem;
            border-radius: 5rem;
            border: none;
            font-weight: 500;
            font-size: 2rem;
        }
    }
}

.input-field{
    width: 40rem;
    height: 6rem;
    position: relative;
    background-color: $color-form-input;
}

.label {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    align-self: flex-start;
    align-content: space-around;
    padding-top: 1.5rem;
}

#button {
    margin-top: 5rem;
}