@import "../../../styles.scss";


.card {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 90vh;
  background: transparent;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
  }

  &::before {
    transform: translateX(-2rem) translateY(-2.5rem);
    border: 0.6rem solid $color-button-top-gradient;
    border-radius: 2.5rem;
  }
  &::after {
    z-index: -2;
    transform: translateX(-2.5rem) translateY(-1.5rem);
  }
  &__form {
    &__group:not(:last-child) {
      margin-bottom: 2rem;
    }

    &__input {
      font-size: 1.5rem;
      font-family: inherit;
      color: inherit;
      padding: 1.5rem 2rem;
      border-radius: 2px;
      background-color: rgba($color-white, 0.5);
      border: none;
      border-bottom: 3px solid transparent;
      width: 90%;
      display: block;
      transition: all 0.3s;

      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
        border-bottom: 3px solid $color-form-input;
      }

      &:focus:invalid {
        border-bottom: 3px solid orangered;
      }

      &::-webkit-input-placeholder {
        color: $color-card-gradient-grey;
      }
    }

    &__label {
      font-size: 1.2rem;
      font-weight: 700;
      margin-left: 2rem;
      margin-top: 0.7rem;
      display: block;
      transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
    }

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 2.5rem;
    background-color: $color-form-card;
    & > * {
      margin: 0.5rem;
      color: $color-white;
    }

    &__logo-container {
      height: 20%;
      width: 20%;
      background: none;
      &__logo {
        -webkit-filter: drop-shadow(0.6rem 0.7rem 1rem $color-button-top-gradient);
        filter: drop-shadow(0.6rem 0.7rem 1rem $color-button-top-gradient);
        margin-top: 5rem;
      }
    }

    &__alternatives {
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: space-around;

      width: 95%;

      &__container {
        &__logo {
          height: 5rem;
          width: 5rem;

          &__icon {
            width: 100%;
            height: 100%;
            transition: all 0.2s ease-in-out;

            &:hover {
              fill: $color-white;
              cursor: pointer;
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }

      &__title {
        font-weight: 100;
        font-size: 2rem;
      }

      &__button {
        background-image: linear-gradient(to right, $color-button-top-gradient, $color-button-bottom-gradient);
        width: 16rem;
        height: 5rem;
        border-radius: 5rem;
        border: none;
        font-weight: 500;
        font-size: 2rem;
        color: $color-white;
        margin: 2rem 0rem;
        min-height: 5rem;
      }
    }

    &__title {
      margin-top: 10%;
      font-weight: 500;
      font-size: 3.5rem;
      padding-bottom: 4rem;
    }

    &__button {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      &__login-btn,
      &__register-btn {
        background-image: linear-gradient(to right, $color-button-top-gradient, $color-button-bottom-gradient);
        width: 16rem;
        height: 5rem;
        border-radius: 5rem;
        border: none;
        font-weight: 500;
        font-size: 2rem;
        color: $color-white;
        margin: 2.5rem;
        margin-top: 5rem;
        transition: all 0.5s;
      }
    }
  }
}
