<div class="profile-container">
    <div class="profile-container__info">
        <img class="profile-container__info__image" [src]="user.avatarPath"/>
        <div class="profile-container__info__data">
            <p class="profile-container__info__data__nickname">{{user.username}}</p>
            <p class="profile-container__info__data__age">21</p>
            <p class="profile-container__info__data__country">RO</p>
            <div class="profile-container__info__data__currently-playing">Currently playing
                <p class="profile-container__info__data__currently-playing__game"> browsing the internet </p>
            </div>
        </div>
    </div>
    <div class="profile-container__achievements">
        <p class="profile-container__achievements__edit-profile">Edit Profile</p>
        <div class="profile-container__achievements__stars">
        </div>
        <p class="profile-container__achievements__see-all-achievements">See All Achievements</p>
        <!-- TODO change from p to a a or idk they are links but this is easily solvable ??!?!?!?!? -->
    </div>
    <div class="profile-container__posts">
            <p class="profile-container__posts__title">Posts</p>
            <gallery id="posts" class="profile-container__posts__gallery" [itemTemplate]="itemTemplate"></gallery>

            <!-- Add custom template to image items -->
            <ng-template #itemTemplate
                        let-index="index"
                        let-type="type"
                        let-data="data"
                        let-currIndex="currIndex">
            <span *ngIf="type === 'image' && index === currIndex" [@slideAnimation] class="item-text">
                {{data?.title}}
            </span>
            </ng-template>
    </div>
    <div class="profile-container__games">
        <p class="profile-container__games__title">Favorite Games</p>
        <div class="profile-container__games__list">
            <ul class="profile-container__games__list__ul">
                <li class="profile-container__games__list__ul__li">
                    <favorite-game *ngFor="let game of games" [game]="game" class="profile-container__games__list__ul__li__item">
                    </favorite-game>
                </li>
            </ul>
        </div>

    </div>
</div>
