@import "./src/styles";

.friend {
  margin-top: 1rem;
  display: flex;
  font-size: large;
  transition: all 0.2s ease-in-out;

  &__profile_pic {
    width: 4rem;
    border-radius: 5px;
  }

  &__info {
    margin-left: 1rem;

    &__username {
      font-size: medium;
    }

    &__status {
      color: $color-inactive;
      font-size: small;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

      &__on {
        color: lightgreen;
        font-size: small;
      }
    }
  }

  &:hover {
    background-color: $color-list-element-hover;
    transition: all 0.2s ease-in-out;
  }
}
