<div class="post">
  <div class="post__header">
    <div class="post__header__timestamp paragraph">
      6 hours
    </div>
  </div>
  <div class="post__body">
    <div class="post__body__user">
      <div class="post__body__user__photo">
        <img src="../../../assets/images/buni_pic.jpg" alt="profile picture" />
      </div>
      <div class="post__body__user__text">
        <p class="post__body__user__text__username paragraph">Lobatron</p>
        <p class="post__body__user__text__post-text paragraph">Pe nume Liviu Giorgica Mihai nu ti-e rusine c-o calc in
          picioare vrei ceas? vii cu gorilele sarpele Funar clanul Camparu, clanul Camataru ce dialog sa am cu un gunoi
          Cu cati barbati te-ai culcat? de la ce balamuc transmiteti Nu faci dumneata ordine la mine in birou.
        </p>
      </div>
    </div>

    <div class="post__body__content">
      <img src="../../../assets/images/profile_pic.png" alt="Post Image" class="post__body__content__image">
    </div>
  </div>
  <div class="post__footer">
    <button class="btn">Like</button>
    <button class="btn">Comment</button>
    <button class="btn">Share</button>
  </div>
</div>