$color-button-bottom-gradient: #0F3460;
$color-button-top-gradient:#08264A;
$color-form-card: #121212;
$color-form-input: #2B303D;

$color-inactive: #918D8D;
$color-newsfeed-background: #03162C;
$color-newsfeed-buttons: #7A669C;

$background-color-post: #272727;
$color-white: #fff;