$color-button-bottom-gradient: #0f3460;
$color-button-top-gradient: #08264a;
$color-form-card: #121212;
$color-form-input: #2b303d;

$color-inactive: #918d8d;
$color-newsfeed-background: #03162c;
$color-newsfeed-buttons: #7a669c;

$background-color-post: #272727;
$background-color: #252b37;

$color-white: #fff;
$color-black: #000;
$color-gray: gray;
$color-card-gradient-grey: #414348;
$color-list-element-hover: #25272c;
$color-newsfeed-button-hover: #08264f;
$color-header: #202020;

