<div class="page">
  <a class="page__go-back-btn" (click)="goBack()"></a>
  
  <div class="lobby-container">
    <div class="lobby-container__games">
      <ul class="lobby-container__games__list">
        <li *ngFor="let lobby of lobbies" class="lobby-container__games__list__item" (click)="getLobbyForGame(lobby)">
          <lobby-card-game [gameInfo]="lobby"></lobby-card-game>
        </li>
      </ul>
      <div class="lobby-container__games__search" *ngIf="lobbies.length > 1;else createLobbyBtn">
        <input class="lobby-container__games__search__input" type="text">
      </div>

      <ng-template #createLobbyBtn>
        <btn class="lobby-container__games__create-lobby">Create Lobby</btn>
      </ng-template>
    </div>

    <div class="lobby-container__lobbies">
      <ul class="lobby-container__lobbies__list">
        <li class="lobby-container__lobbies__list__item" *ngFor="let gameLobby of gameLobbies">
          <img [src]=gameLobby.initializer.avatarPicture alt="initiator-picture"
            class="lobby-container__lobbies__list__item__image">
          <div class="wrapper">
            <span class="lobby-container__lobbies__list__item__name">{{gameLobby.initializer.username}}'slobby</span>
            <span class="lobby-container__lobbies__list__item__users">{{gameLobby.participantsNr}}</span>
          </div>
          <button class="lobby-container__lobbies__list__item__btn">Join Lobby chat </button>
        </li>
      </ul>
    </div>
  </div>
</div>